@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
}

body, input, button {
    font-family: 'Roboto', sans-serif;
    background-color: #dbdbd9;
}

input, button {
    font-size: 16px;
}

.head_bar {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(48, 48, 48) !important;
    color: #dbdbd9;
}

@media only screen and (max-width: 768px) {
  .head_bar {
    gap: 80px;
  }
}

main {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 16px;
    
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

.input_section {
    background: #f0f0f0e7;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    padding: 16px;
    border: 2px solid black;
    box-shadow: 0px 6px 0px #1976D2;
    border-radius: 10px;
}

.input_inline {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

/* Style untuk label form */
.input label {
  font-weight: bold;
  margin-bottom: 8px;
  color: #2f3131;
}

/* Style untuk input text */
.input input[type="text"],
.input input[type="number"] {
  padding: 8px;
  border: none;
  border-bottom: 2px solid #e0e0e0;
  font-size: 16px;
  color: #3d3d3d;
  -moz-appearance: textfield;
}

/* Style untuk input checkbox */
.input input[type="checkbox"] {
  margin-right: 12px;
}

/* Style untuk tombol submit */
#bookSubmit {
  padding: 8px 16px;
  background-color: #c2c2c2;
  color: #2f3131;
  border: 1px solid rgba(0, 0, 0, 0.63);
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

#bookSubmit:hover {
  background-color: #11860d;
  color: #c2c2c2;
}

@media only screen and (max-width: 768px) {
  #bookSubmit {
    max-width: 80px;
  }
}

/* Style untuk container input dan gambar */
.input_section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input_container {
  flex: 1;
  margin-right: 32px;
}

.tombolsub {
    display: flex;
    flex-direction: column;
  }

.image_container {
  flex: 1;
  max-width: 250px;
}

.image_container img {
    max-width: auto;
    max-height: 250px;
}

@media only screen and (max-width: 768px) {
    .input_section {
      flex-direction: column;
      align-items: flex-start;
      padding: 16px;
      min-width: 280px;
    }
  
    .input_container {
      margin-right: 0;
    }
  
    .image_container {
      margin-bottom: 16px;
      max-width: 100%;
    }
  }
  

.search_section {
    background: #f0f0f0e7;
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border: 2px solid black;
    box-shadow: 0px 6px 0px #1976D2;
    border-radius: 10px;
}

.search_section > h2 {
    color: cornflowerblue;
}

.search_section > form {
    padding: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr 0.5fr;
    grid-gap: 10px;
}

.search_section > form > label {
    display: flex;
    align-items: center;
}

.search_section > form > input {
    padding: 5px;
    border-radius: 5px;
}

.search_section > form > button {
    background-color: cornflowerblue;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.book_shelf {
    background: #f0f0f0e7;
    margin: 16px 0 0 0;
    border: 2px solid black;
    box-shadow: 0px 6px 0px #1976D2;
    padding: 16px;
    border-radius: 10px;
}

/* Style for book container */
.book_item {
    display: flex;
    flex-direction: column;
    margin: 0 0 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #fff;
  }
  
  /* Style for book title */
  h3 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 5px;
  }
  
  /* Style for book author and year */
  p {
    font-size: 0.8rem;
    margin-bottom: 3px;
  }
  
  /* Style for action buttons */
  .action {
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    margin-top: 10px;
    gap: 460px;
  }
  .green {
    background-color: #c2c2c2 !important;
    border: 1px solid #2f3131;
  }

  .red {
    background-color: #c2c2c2 !important;
    border: 1px solid #2f3131;
  }

  .green:hover {
    background-color: #40c425 !important;
  }

  .red:hover {
    background-color: #dd2323 !important;
  }

/*--------------POP UP showDialog------------------*/
.popup-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-weight: 600;
}




 
/*----custom tombol------*/
  button {
    max-width: 100px;
    max-height: 50px;
    position: inherit;
    box-shadow: 0px 5px 0px #2f3131;
    transition-duration: 0.2s;
    border-radius: 2px;
    margin: auto;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  .svg {
    color: #000;
  }

  @media only screen and (max-width: 768px) {
    button {
     max-height: 55px;
     max-width: 55px;
     border-radius: 10px;
    }
    
    .action {
      gap: 150px;
    }
  }
  
  p {
    text-align: center;
  }

  button:hover {
    transform: translateY(-0.33em);
    box-shadow: 0px 10px 0px #2f3131;
  }

  button:active {
    transform: translateY(0);
    box-shadow: 0px 5px 0px #2f3131;
  }

  button img {
    width: 25px;
    height: 25px;
  } 


 /* footer */
 .footer {
  background-color: #2f3131;
  padding: 10px;
  text-align: center;
 }

 .footer a{
  color: #dbdbd9;
  text-decoration: none;
 }