@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
}

body, input, button {
    font-family: 'Roboto', sans-serif;
    background-color: #d3c8ab;
}

input, button {
    font-size: 16px;
}

.head_bar {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
    color: white;
}

main {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 16px;
    
}

h2 {
    text-align: center;
}

.input_section {
    background: #e7e4d6e7;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    padding: 16px;
    border: 2px solid black;
    box-shadow: 0px 6px 0px #1976D2;
    border-radius: 10px;
}

.input_inline {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

/* Style untuk label form */
.input label {
  font-weight: bold;
  margin-bottom: 8px;
  color: #3d3d3d;
}

/* Style untuk input text */
.input input[type="text"],
.input input[type="number"] {
  padding: 8px;
  border: none;
  border-bottom: 2px solid #e0e0e0;
  font-size: 16px;
  color: #3d3d3d;
}

/* Style untuk input checkbox */
.input input[type="checkbox"] {
  margin-right: 8px;
}

/* Style untuk tombol submit */
#bookSubmit {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

#bookSubmit:hover {
  background-color: #3e8e41;
}

/* Style untuk container input dan gambar */
.input_section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input_container {
  flex: 1;
  margin-right: 32px;
}

.tombolsub {
    display: flex;
    flex-direction: column;
  }

.image_container {
  flex: 1;
  max-width: 250px;
}

.image_container img {
    max-width: auto;
    max-height: 250px;
}

@media only screen and (max-width: 768px) {
    .input_section {
      flex-direction: column;
      align-items: flex-start;
      padding: 16px;
      min-width: 280px;
    }
  
    .input_container {
      margin-right: 0;
    }
  
    .image_container {
      margin-bottom: 16px;
      max-width: 100%;
    }
  }
  

.search_section {
    background: #e7e4d6e7;
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border: 2px solid black;
    box-shadow: 0px 6px 0px #1976D2;
    border-radius: 10px;
}

.search_section > h2 {
    color: cornflowerblue;
}

.search_section > form {
    padding: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr 0.5fr;
    grid-gap: 10px;
}

.search_section > form > label {
    display: flex;
    align-items: center;
}

.search_section > form > input {
    padding: 5px;
    border-radius: 5px;
}

.search_section > form > button {
    background-color: cornflowerblue;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.book_shelf {
    background: #e7e4d6e7;
    margin: 16px 0 0 0;
    border: 2px solid black;
    box-shadow: 0px 6px 0px #1976D2;
    padding: 16px;
    border-radius: 10px;
}

/* Style for book container */
.book_item {
    display: flex;
    flex-direction: column;
    margin: 0 0 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #fff;
  }
  
  /* Style for book title */
  h3 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 5px;
  }
  
  /* Style for book author and year */
  p {
    font-size: 0.8rem;
    margin-bottom: 3px;
  }
  
  /* Style for action buttons */
  .action {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  /* Style for check button */
  .action .check_button {
    background-color: #44c767;
    border: none;
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Style for undo button */
  .action .undo_button {
    background-color: #ffc107;
    border: none;
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Style for trash button */
  .action .trash_button {
    background-color: #e74c3c;
    border: none;
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8rem;
    border-radius: 5px;
    cursor: pointer;
  }

/*--------------POP UP DIALOG------------------*/
.dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1976D2;
  }
  
  .dialog p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
  }
  
  .dialog button {
    font-size: 18px;
    padding: 8px 0px;
    border-radius: 8px;
    background-color: #e4e4e4;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
  }
  
  .dialog button:hover {
    background-color: #1976D2;
  }

  .tombol {
    display: grid;
    align-items: center;
    }
 .tombol p {
    margin: 0;
 }   

 

  button {
    max-width: 140px;
    max-height: 220px;
    position: inherit;
    box-shadow: 0px 5px 0px #2196F3;
    transition-duration: 0.2s;
    border-radius: 5px;
    margin: auto;
  }
  
  p {
    text-align: center;
  }

  button:hover {
    transform: translateY(-0.33em);
    box-shadow: 0px 8px 0px #2196F3;
  }

  button:active {
    transform: translateY(0);
    box-shadow: 0px 3px 0px #2196F3;
  }

  button img {
    width: 25px;
    height: 25px;
  } 


  